*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(circle, #000000, #1e1e1e, #353536, #4e4f4f, #696a6a);
}


.logo {
    width:60px;
    height: 50px;
    margin-left: 10px;
}


div .cards{
    margin-top: 50px;
}

div footer p, div footer ul li a {
    color: white !important;
    text-decoration: none;
    font-weight: 500;
}


.img-icon{
    width: 1.5vw;
}

.img-icon-git{
    width: 2vw;
}

.botao-link{
    width: 16.5rem ;
    background: #292a22 !important;
    color: white !important;
    height: 3rem;
    border-radius: 10px !important;
}

a{
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

button:hover {
    transform: scale(1.03);
}